{% extends 'base.html' %}
{% block page-main %}
    <div class="edi" style="margin-top: 55px">
        <form action="" method="post">
            <input type="text" readonly="readonly" name="uui" value="{{ ccm.uid }}" placeholder="序号"
                   style="display: none">
            <input type="text" name="usn" value="{{ ccm.name }}" placeholder="用户名"/>
            <input type="password" name="psd" value="{{ ccm.password }}" placeholder="密码"/>
            <button type="submit" class="btn btn-info">更新</button>
        </form>
    </div>
{% endblock %}