{% extends 'base.html' %}
{% block page-main %}
    <div id="table" style="margin-top: 55px">
        <div class="add">
            <form class="form-horizontal" action="" method="post">
                <input type="text" name="title" value="" placeholder="主机名"/>
                <input type="password" name="user" value="" placeholder="密码"/>
                {#				    <input type="text" name="appline" value="" placeholder="业务线" />#}
                <select name="appline" id="app" class="btn btn-default">
                    {% for l in apli %}
                        <option value="{{ l.lid }}">{{ l.appname }}</option>
                    {% endfor %}
                </select>
                {#				    <input type="date" name="date" value="" placeholder="发布时间" />#}
                <button type="submit" class="btn btn-info">添加</button>
                <p>{{ mms }}</p>
            </form>
        </div>
        <table class="table table-striped" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th style="text-align: center">序号</th>
                <th>主机名</th>
                <th>密码</th>
                <th>业务线</th>
                <th style="text-align: center">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for i in commc %}
                <tr>
                    <td width="5%" style="text-align: center">{{ forloop.counter }}</td>
                    <td>{{ i.hostname }}</td>
                    <td width="35%">{{ i.paswd }}</td>
                    <td width="25%">{{ i.line.appname }}</td>
                    <td width="15%" style="text-align: center"><a class="btn btn-danger"
                                                                  href="{% url 'sdelt' %}?idi={{ i.id }}">删除</a>&nbsp&nbsp<a
                            class="btn btn-primary" href="{% url 'sedi' %}?idi={{ i.id }}">编辑</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}